version: 2.1

jobs:
  ast-scan:
    docker:
      - image: checkmarx/ast-cli:latest
    steps:
      - checkout
      - run:
          name: AST Scan
          command: |
            /app/bin/cx --debug --client-id "${AST_CLIENT_ID}" --client-secret "${AST_CLIENT_SECRET}" --base-uri "${AST_BASE_URI}" --tenant "${AST_TENANT}" scan create -s . --project-name "${CIRCLE_PROJECT_REPONAME}" --branch "${CIRCLE_BRANCH}" --scan-types sast,sca,kics

orbs:
  gradle: circleci/gradle@2.2.0

workflows:
  checkout-build-test:
    jobs:
      - gradle/test
  ast-scan:
    jobs:
      - ast-scan
